<main class="feed">
      <section class="collection-container">
        <div class="card-track">
            @for (item of items; track $index) {
              <article class="card">
                <div class="thumbnail">
                  <img src="{{ item.imageUrl }}" alt="{{ item.title }}">
                  <span class="badge">Verified Luxury</span>
                </div>
                <div class="details">
                  <h3>{{ item.title }}</h3>
                  <p class="location">{{ item.location }}</p>
                  <p class="price"><strong>${{ item.pricePerNight }}</strong></p>
                </div>
              </article>
            }
        </div>
      </section>
    </main>